style.
  body {
    text-align:center
  }
  .slide {
    text-align:center !important;
    max-width: 90%;
    padding: 0 0 40px 0;

  margin: 0px auto;
  display: block;
  }
  .slideshow {
  width: 100%;

  margin: 0px auto;
  display: block;
  }
  .nav {
  margin-left:8px;
  }
  .nav a {
  margin-right:12px;
  }
  #nav-row .left {
  text-align:center;
  }
  #nav-row .right {
  text-align:center;
  }
  .skills {
  position:relative;
  left:10px;
  margin-top: 10%;
  z-index:99999999;
  }
  .banner { position: relative; overflow: auto; }
  .banner li { list-style: none; }
  .banner ul li { float: left; }
  .sticker {
  width:50px;
  height:50px;
  color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  font-family:18px;
  }

  .pink {
    background-color: #ee0f5e;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:40px;

  }
  .green {
    background-color:#b0c543;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;
    
  }
  .yellow {
    background-color:#ffda0d;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;

  }
  .orange {
    background-color:#ff6406;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;

  }
  .purple {
    background-color:#420085;
    width:50px;
  height:50px;
    color: #fff;
  padding:12px 0 20px 0;
  font-weight:800;
  font-family: Roboto;
  margin-left:-150px;
  margin-top:-20px;

  }


  @media screen and (max-width: 1100px) {
  #main-content {
  margin-top:-20%;
  }
  .slide {
  max-width: 80%
  }
  
  }
  @media screen and (min-width: 1100px) {
  body {
  background:url(./img/wallpaper.jpg);
  text-align:center;
  }
  #main-content .first {

  }
  section {
    text-align:center !important;
    width: 80% !important;
    padding: 0px 100px 0px 100px;
    margin-left:10% !important;  
    background-color: #efefef;
    }
  .row {
    text-align:center;
  }

  }



        
section#main-content.first(style='background-color: #efefef;margin-top:-80px;')
  .row
    .large-12.columns.centered-text
      h3(style='margin-bottom:5px;color:#ee0f5e !important')
        strong Francino Noncè
      p 
        span(style='font-family: Georgia, serif !important') 
          i Experience Design &amp; Front-End &nbsp;&nbsp;-&nbsp;&nbsp; 
        a(href='index.html#/recent-work', style='') Resumè &nbsp; 
        a(href='index.html#/recent-work', style='') Blog &nbsp; 
        a(href='index.html#/recent-work', style='') Goodies &nbsp; 
        a(href='index.html#/recent-work', style='') Contact 

section#main-content(style='background-color: #efefef;margin-top:-40px;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
    .clear
    .large-12.columns
      h6 NOVEMBER 2014
      h2 Tapcentive.com UX overhaul, redesign and front-end 
      .slide
        .slider(ng-controller='HomeTapCtrl', style='text-align:center;')
          div.nav
            a#prev2(href='#') &lsaquo; Prev
            a#next2(href='#') Next &rsaquo;
          .slideshow(cycle='')
            img(src='{{ item.src }}', width='800', height='400', ng-repeat='item in items')
          
      br
      br
      br

section#main-content(style='background-color: #efefef;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
      p.yellow CS
    .clear
    .large-12.columns.centered-text
      h6 OCTOBER 2014
      h2(style='') Mobile-web first marketing website 
      .row.centered-text
        img(src='./img/francino-nonche-tapcentive.jpg', width='100%', style='margin-top:-20px;')
        br
        br
        br
        br

section#main-content(style='background-color: #626773;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.yellow CS
      p.green FE
    .clear
    .large-12.columns.centered-text
      h6(style='color:#fff !important') AUGUST 2014
      h2(style='color:#fff !important') New CPG eDistribution and supply chain company
      .row.centered-text
        img(src='./img/francino_cpgio.jpg', width='100%', style='margin-top:30px;')
        br
        br
        br
        br

section#main-content(style='background-color: #e5e5e5;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
      p.purple V
    .large-12.columns.centered-text
      h6 JUNE 2014
      h2(style='') Bodyshopbids.com for the best ride of your life
      .row.centered-text
        img(src='./img/francino_bsb_forms.jpg', width='85%', style='margin-top:10px;')
        br
        br
        br
        br

section#main-content(style='background-color: #afdeee;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
    .large-12.columns.centered-text
      h6 OCTOBER 2014
      h2(style='') Chicago SunTimes takes Francino for a long ride
      .row.centered-text
        img(src='./img/francino_suntimes.jpg', width='100%', style='margin-top:-10px;')
        br
        br
        br
        br

section#main-content(style='background-color: #fff;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.yellow CS
      p.green FE
    .large-12.columns.centered-text
      h6 FEBRUARY 2014
      h2(style='') The Young Turning Academy recruits Francino as Chairman of the Board by newly elected
      .row.centered-text
        img(src='./img/francino_turing.jpg', width='100%', style='margin-top:10px;')
        br
        br
        br
        br

section#main-content(style='background-color: #1575d8;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.green FE
      p.purple V
    .large-12.columns.centered-text
      h6(style='color:#fff !important') MARCH 2013
      h2(style='color:#fff !important') Mobile-web first marketing website 
      .row.centered-text
        img(src='./img/francino_monthlys.jpg', width='100%', style='margin-top:10px;')
        br
        br
        br
        br

section#main-content(style='background-color: #f0f0f0;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.orange ID
    .large-12.columns.centered-text
      h6 MARCH 2013
      h2(style='') Mobile-web first marketing website 
      .row.centered-text
        img(src='./img/francino_tround.jpg', width='100%', style='margin-top:10px;')
        br
        br
        br
        br

section#main-content(style='background-color: #f24147;')
  .row
    .large-12.columns.sticker
      p.pink UX
      p.orange ID
    .large-12.columns.centered-text
      h6(style='color:#fff !important') MARCH 2013
      h2(style='color:#fff !important') Mobile-web first marketing website 
      .row.centered-text
        img(src='./img/francino_gamifyed.jpg', width='100%', style='margin-top:10px;')
        








